body {
  box-sizing: border-box;
  margin:0;
  padding:0;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 14px;
  line-height: 20px;
}
header{
  width: 100%;
  height: 46px;
  background-color:#fff;
  display: inline-block;
  text-align: center;
}
.firstMenu{
  width: 30%;
  height: 46px;
  display: inline-block;
}
.icon{
  width: 30%;
  height: 46px;
  display: inline-block;
}
.secondMenu{
  width: 30%;
  height: 44px;
  display: inline-block;
}
ul li{
  display: inline-block;
  margin: 0 0 0 20px;
  text-align: center;
  line-height: 25%;
}
a{
  color: #66757f;
  text-decoration: none;
  font-weight: bold;
}
.fa-twitter{
  color:#1da1f2;
}
#container-search{
  width: 210px;
  height: 25px;
  background-color: #f5f8fa;
  border: 2px solid #e6ecf0;
  text-align: center;
  border-radius: 50px;
}
.search-input{
  background-color: #f5f8fa;
}
#container-search-click{
  width: 210px;
  height: 25px;
  background-color: #fff;
  border: 2px solid #4ab3f4;
  text-align: center;
  border-radius: 50px;
}
.fa-search{
  color: #76848d;
  }
.search-input{
  margin-top: 3px;
  border: none;
  outline:0px;
}
.perfil-border{
  border: 1px solid #bac3c9;
  background-color:#ccd6dd;
  padding: 7px;
  border-radius: 50px;
}
#list{
  margin-top: 0px;
  padding-bottom: 10px;
}
#button-twittear{
  padding: 8px;
  background-color:#4ab3f4;
  color: #fff;
  border-radius: 50px;
  text-decoration: none;
  outline:0px;
  border-color: transparent;
  font-size: 14px;
  font-weight: bold;
  line-height: 20px;
  margin-top:5px;
}
hr{
  border: 1px solid #dae0e4;
  margin: 0;
}
a:hover{
  color:#4ab3f4;
}
/*estilos de la seccion*/
.container{
  width: 100%;
  height:800px;
  padding-top:  9px;
  background-color: #e6ecf0;
}
#box{
  width: 28%;
  height:800px;
  display: inline-block;
}
#box1{
  width: 40%;
  height:800px;
  margin: 0;
  padding: 0;
  display: inline-block;
}
.container-perfil{
  width: 100%;
  height:800px;
  overflow: hidden;
}
.tendence{
  width: 288px;
  height:200px;
  background-color:#fff;
  float: right;
}
.box-perfil{
  width: 288px;
  height:95px;
  background-color:#4ab3f4;
  float: right;
}
.container-twitter{
  width: 100%;
  height:152px;
  text-align: center;
}
.contain-tweet{
  width: 588px;
  height:150px;
  background-color: #e8f5fd;
  margin: 0 auto;
  z-index: 1;
}
.dashboard{
  width: 288px;
  height:308px;
  background-color: #fff;
  z-index: 2;
}
.tweets{
  width: 588px;
  height:800px;
  background-color: #fff;
  margin: auto;
}
#message-input2{
  width: 504px;
  height: 36px;
  border:0.8px solid #c6e7fb;
  z-index: 3;
  display: inline-block;
  margin-top: 8PX;
  border-radius: 12px;
  line-height: 14px;
  outline:0px;
  padding-top: 8px;
  padding-left: 7px;
}
#message-input{
  display: inline-block;
  border:2px solid #a4d9f9;
  border-radius: 12px;
  margin-top: 8PX;
  line-height: 14px;
  width: 504px;
  height: 50px;
  padding-left: 10px;
  padding-top: 10px;
  outline:0px;
  word-wrap: break-word;
}
section button{
  padding: 10px;
  background-color: #A4D9F9;
  color: #fff;
  display: block;
  margin-top: 10px;
  margin-left: 320px;
  border-radius: 20px;
  border: none;
  line-height: 24px;
  letter-spacing: normal;
  word-spacing: normal;
  font-size: 16px;
  font-weight: bold;
  outline:0px;
}
p{
  width: 520px;
  height:auto;
  border:2px solid #e6ecf0;
  background-color: #fff;
  padding: 0 5px;
  word-wrap: break-word;
  margin: 0 auto ;
  border-radius: 12px;
}
.container-tweets{
  width: 100%;
  height:800px;
  margin-top: 10px;
  text-align: center;
  background-color: #e6ecf0;
}
.tweets{
  background-color: #e6ecf0;
}
#counter{
  display: inline;
}
